@if ( user.value(); as user){
<section class="min-h-screen bg-gray-100 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-4xl mx-auto bg-white rounded-xl shadow-lg overflow-hidden">
    <div class="md:flex">
      <article class="p-8 text-center md:text-left">
        <div class="flex flex-col md:flex-row items-center gap-8">
          <div class="relative">
            <img
              [src]="user?.image"
              alt="user image"
              class="h-32 w-32 rounded-full object-cover border-4 border-blue-500"
              loading="lazy"
            />
          </div>
          <div>
            <h1 class="text-3xl font-bold text-gray-900">
              <span>{{ user?.firstname }}</span>
              <span>{{ user?.lastname }}</span>
            </h1>
          </div>
        </div>
      </article>
    </div>

    <article class="p-8 bg-gray-50">
      <ul class="space-y-4">
        <li
          class="flex items-center p-4 bg-white rounded-lg hover:bg-gray-50 transition-all"
        >
          <span class="font-medium">User ID:</span>
          <span class="ml-2">{{ user?.id }}</span>
        </li>
        <li
          class="flex items-center p-4 bg-white rounded-lg hover:bg-gray-50 transition-all"
        >
          <span class="font-medium">Gender:</span>
          <span class="ml-2">{{ user?.gender }}</span>
        </li>
        <li
          class="flex items-center p-4 bg-white rounded-lg hover:bg-gray-50 transition-all"
        >
          <span class="font-medium">Personal Number:</span>
          <span class="ml-2">{{ user?.personalNumber }}</span>
        </li>
        <li
          class="flex items-center p-4 bg-white rounded-lg hover:bg-gray-50 transition-all"
        >
          <span class="font-medium">Mobile Number:</span>
          <span class="ml-2">{{ user?.mobileNumber }}</span>
        </li>
        <li
          class="flex items-center p-4 bg-white rounded-lg hover:bg-gray-50 transition-all"
        >
          <div>
            <span class="font-medium">Legal Address:</span>
            <p class="ml-2 text-gray-600">
              {{ user?.legalAddress?.country }}, {{ user?.legalAddress?.city }},
              {{ user?.legalAddress?.address }}
            </p>
          </div>
        </li>
        <li
          class="flex items-center p-4 bg-white rounded-lg hover:bg-gray-50 transition-all"
        >
          <div>
            <span class="font-medium">Physical Address:</span>
            <p class="ml-2 text-gray-600">
              {{ user?.physicalAddress?.country }},
              {{ user?.physicalAddress?.city }},
              {{ user?.physicalAddress?.address }}
            </p>
          </div>
        </li>
      </ul>
    </article>

    <div class="p-8 flex flex-col sm:flex-row gap-4 justify-end">
      <button
        (click)="goToDetails(user.id)"
        class="flex items-center justify-center px-6 py-3 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition-colors focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
      >
        Update User
      </button>
      <button
        (click)="removeUser()"
        class="flex items-center justify-center px-6 py-3 bg-red-500 text-white rounded-lg hover:bg-red-600 transition-colors focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2"
      >
        Remove User
      </button>
    </div>
    <article class="p-8">
      <div class="flex justify-between items-center p-4">
        <div class="text-2xl font-semibold">Accounts</div>
        <button
          (click)="openDialog()"
          class="cursor-pointer bg-green-400 p-2 rounded-sm text-white font-semibold"
        >
          +Add Account
        </button>
      </div>
      <app-account-list
        [cols]="['acId', 'clId', 'type', 'currency', 'status', 'action']"
        [data]="accounts()"
      ></app-account-list>
    </article>
  </div>
</section>

}
