@if(!imageUrl()){

<div
  (click)="onClick()"
  class="flex justify-center items-center w-48 h-48 border cursor-pointer mb-1 rounded-lg max-w-full"
>
  <div
    class="flex flex-col justify-center items-center gap-3 max-w-[400px] text-[#5A5A5A] font-semibold text-c-normal leading-[21.76px] rounded-lg"
    style="width: 100%; background: #fff; height: 100%"
  >
    <img src="assets/images/account_image.svg" alt="file image" />
    <div class="text-center">Click to upload</div>
  </div>
</div>

}@else{
<div class="flex flex-wrap gap-2 relative border rounded-lg w-48 h-48">
  <img
    width="200px"
    height="160px"
    [src]="imageUrl()"
    class="rounded-lg w-full h-full"
  />

  <div
    class="absolute flex justify-center items-center gap-1 top-0 right-0 my-3 mx-1"
  >
    <div
      class="flex justify-center items-center rounded-lg bg-light-gray cursor-pointer"
      (click)="edit()"
    >
      <div
        class="flex justify-center items-center bg-white hover:bg-light-gray rounded-full p-2"
      >
        <span class="material-symbols-outlined"> edit </span>
      </div>
    </div>
    <div
      class="flex justify-center items-center rounded-lg bg-light-gray cursor-pointer"
      (click)="delete()"
    >
      <div
        class="flex justify-center items-center bg-white hover:bg-light-gray rounded-full p-2"
      >
        <span class="material-symbols-outlined"> delete </span>
      </div>
    </div>
  </div>
</div>

}

<input
  (input)="log($event)"
  type="file"
  accept="image/*"
  #uploader
  class="hidden"
/>
