<div
  class="relative overflow-x-auto shadow-md sm:rounded-lg w-8/10 my-[100px] mx-auto"
>
  <div
    class="flex items-center justify-between flex-column flex-wrap p-4 pt-5 md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900"
  >
    <div class="relative">
      <app-sort></app-sort>
    </div>
    <label for="table-search" class="sr-only">Search</label>
    <div class="relative">
      <div
        class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>
      <input
        (input)="updatefilterValue($event)"
        type="text"
        id="table-search-users"
        class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Search for users"
      />
    </div>
  </div>
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">PN</th>
        <th scope="col" class="px-6 py-3">mobile Number</th>
        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>
    <tbody>
      @for(user of users();track user.id){

      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600 cursor-pointer"
        (click)="goToDetails(user.id)"
        tooltip
        [tooltipText]="'view user details'"
      >
        <th
          scope="row"
          class="flex items-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          <img
            class="w-10 h-10 rounded-full"
            [src]="user.image"
            alt="Jese image"
          />
          <div class="ps-3">
            <div class="text-base font-semibold">{{ user.firstName }}</div>
            <div class="font-normal text-gray-500">
              {{ user.physicalAddress.country }},
              {{ user.physicalAddress.city }}
            </div>
          </div>
        </th>
        <td class="px-6 py-4">
          {{ user.mobileNumber }}
        </td>
        <td class="px-6 py-4">
          <div class="flex items-center">
            {{ user.personalNumber }}
          </div>
        </td>
        <td class="px-6 py-4">
          <a
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit user</a
          >
        </td>
      </tr>
      }
    </tbody>
  </table>

  <app-pagination></app-pagination>
</div>

<!-- <input type="text"  /> -->

<!-- @for(user of users();track user.id){
<li (click)="goToDetails(user.id)">{{ user.firstName }} {{ user.lastName }}</li>
} -->
