<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="grid grid-cols-6 gap-6 mb-6">
    <div class="col-span-2">
      <label
        for="first_name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >
        First name <span class="text-red-500">*</span>
      </label>
      <input
        type="text"
        id="first_name"
        formControlName="firstname"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="John"
        (input)="customValidators.onInputStringChange($event)"
      />
    </div>
    <div class="col-span-2">
      <label
        for="last_name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >
        Last name <span class="text-red-500">*</span>
      </label>
      <input
        type="text"
        id="last_name"
        formControlName="lastname"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Doe"
      />
    </div>
    <div class="col-span-2">
      <label
        for="gender"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >
        Gender <span class="text-red-500">*</span>
      </label>
      <select
        formControlName="gender"
        id="gender"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option value="" selected disabled>Choose gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
    <div class="col-span-2">
      <label
        for="personalNumber"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >
        ID Number <span class="text-red-500">*</span>
      </label>
      <input
        maxlength="11"
        type="text"
        id="personalNumber"
        formControlName="personalNumber"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="72006280000"
        (input)="customValidators.onInputChange($event)"
      />
    </div>
    <div class="col-span-6 flex justify-center">
      <div class="w-1/2">
        <label
          for="mobileNumber"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
          Mobile number <span class="text-red-500">*</span>
        </label>
        <input
          type="text"
          id="mobileNumber"
          formControlName="mobileNumber"
          class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="(+995) ### ### ###"
          (input)="customValidators.onInputChange($event)"
        />
      </div>
    </div>

    <app-address-form
      [title]="'Enter your legalAddress'"
      class="col-span-6"
      controlKey="legalAddress"
    ></app-address-form>
    <app-address-form
      controlKey="physicalAddress"
      [title]="'Enter physycal Address'"
      class="col-span-6"
    ></app-address-form>

    <app-custom-uploader
      class="col-span-2 col-start-5 row-start-1 row-span-2"
      [customUploaderReset]="customUploaderReset()"
      formControlName="image"
    ></app-custom-uploader>

    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 h-12 self-end col-span-2"
    >
      {{ isEditMode() ? "Edit User" : "Add User" }}
    </button>
  </div>
</form>
